* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --treva-purple: #EC1C67;
    --dark-color: #3A4855;
    --main-default: #0CACA7;
    --blue: #A4E3FE;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* navbar */
.navbar {
    background: #FBFBFB;
    box-shadow: 0px 8px 40px 0px rgba(23, 31, 70, 0.08);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .navbar-link:hover {
    color: #119591;
    text-decoration: underline;
}

nav ul li .active {
    text-decoration: underline;
}
.dropdown-menu[data-bs-popper] {
    top: 149%;
    left: -70px}

.landing {
    position: relative;
    top: 60px;
    padding-top: 40px;
}

.btn {
    border-radius: 8px;
    background: #0CACA7;
    color: #FFF;
    font-size: 18px;
}

.btn:hover {
    background: #119591;
    color: #FFF;
}

.main-btn {
    text-decoration: none;
    color: #3A4855;
}

.main-btn:hover {
    color: #119591;
}

/* landing */
.landing {
    background-color: #3A4855;
    min-height: calc(100vh - 32px);
}
.pos-div{
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-land {
    background: #119591;
    color: #FFF;
}

.btn-land:hover {
    background: #0CACA7;
    color: #FFF;
    text-decoration: underline;

    svg {
        transform: translateX(6px);
        transition-duration: 300ms;
    }

}

/* images */
.images {
    position: relative;
    bottom: -70%;
}

.images:hover .img1 {
    left: 0;
}

.images:hover .img3 {
    right: 0;
}

.img1 {
    position: absolute;
    left: 30px;
    top: -100px;
    z-index: 1;
    transition: 1s;
}

.img2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -200px;
    z-index: 2;
    /* box-shadow: 5px 5px 5px red; */
    filter: drop-shadow(0px 4px 16px rgba(126, 133, 142, 0.16));
}

.img3 {
    position: absolute;
    right: 30px;
    top: -100px;
    z-index: 1;
    transition: 1s;
}


/* features */
.feature {
    margin-top: 500px;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

.home .img {
    flex: 1 1 400px;
}

.home img .img {
    width: 100%;
}

.home .content {
    flex: 1 1 400px;
    margin-top: 30px;
}

.content h3 {
    margin-left: 70px;
    font-size: 30px;
}

.main-title p {
    font-size: 20px;
}

/* .logos-carousel {
    position: relative;

} */

.owl-carousel .item img {
    width: 50%;
    display: block;
    margin: auto;
    /* transform: translateY(30px); */
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel.owl-nav button.owl-prev {
    position: absolute;
    transform: translate(-50%);
}

.owl-carousel .owl-stage-outer{
    padding-top: 50px;
}
.item {
    /* margin-top: 20px; */
    background: #fff;
    width: 100px;
    padding: 25px 0;
    /* height: 120px; */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    border: 1px solid #fff;
    border-radius: 16px;
    /* transform: scale(1.1); */
}


.image {
    background-color: #A4E3FE;
    height: 100%;
    border-radius: 15px;
}

.text {
    margin-top: 150px;
    width: 55%;
    margin: auto;

}

.area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

.view {
    height: 500px;
    max-width: 500;
}

.image img {
    right: 15px;
    top: 15px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.parag p {
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    position: relative;
}

.parag p::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #00B2CA;
    border-radius: 3px;

}

/* icon */
ul {
    list-style: none;
}

.features ul {
    margin: 15px;
}

.features ul li {

    padding: 25px;
    font-size: 24px;

}

.features ul li img {
    border: 1px solid #7E858E;
    background: #7E858E;
    padding: 10px;
    border-radius: 50%;

}

ul.comprehensive li {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.mobile {
    border: 1px solid #AFC1FF;
    border-radius: 50%;
    border: none;
    position: relative;
}

.mobile::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(175, 193, 255, .2);
    border-radius: 50%;
    z-index: -1;
}

.timeTra {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.text-icon {
    font-size: 24px;
    font-weight: 400;
    color: #3A4855;
    line-height: 40px;
    text-transform: capitalize;
}

.timeTra .timeImg {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 216, 175, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.timeTra .timeGoal {
    width: 50px;
    height: 50px;
    background-color: rgba(12, 172, 167, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.timeTra .timeTask {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 157, 157, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.timeTra .timeMang {
    width: 50px;
    height: 50px;
    background-color: rgba(221, 193, 150, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.timeTra .dash {
    width: 50px;
    height: 50px;
    background-color: rgba(45, 202, 115, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;

}

.timeTra .depen {
    width: 50px;
    height: 50px;
    background-color: rgba(252, 197, 202, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.timeTra .custom {
    width: 50px;
    height: 50px;
    background-color: rgba(175, 193, 255, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.timeTra .pro {
    width: 50px;
    height: 50px;
    background-color: rgba(188, 232, 238, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.sign-up {
    z-index: 999;
    width: 160px;
    height: 48px;
}

/* number */
.number {
    background-image: url(../images/business-people-communication-colleagues-working-concept\ 1.png);
    position: relative;
    width: 100%;
    opacity: 1;
    /* background-size: 100% 100%; */
}

/* price */
.switch input {
    display: none;
}

.switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 10px;
    position: relative;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #119591, 0 0 4px #119591;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #119591;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: 0.2s;
}

input:checked+.slider:before {
    transform: translateX(30px);
    background-color: #119591;
}

input:checked+.slider {
    box-shadow: 0 0 0 2px #119591, 0 0 8px #119591;
}

.switch200 .slider:before {
    width: 200%;
    transform: translateX(-82px);
}

.switchh p {
    margin-bottom: 0px;
}

.btn-price {
    border-radius: 8px;
    border: 1px solid #0CACA7;
    background: #fff;
    color: #0CACA7;
    text-transform: capitalize;
}

.buttons-nav {
    display: flex;
    justify-content: flex-end;
}

.ul-nav {
    position: relative;
    left: 70px
}

.features li {
    color: gray;
    padding: 10px;
}

.pricing-head {
    font-size: 18px;
}

.premim {
    height: 100% !important;
    border: 1px solid #EC1C67;
}

.premim::after {
    content: 'most popular';
    position: absolute;
    width: 70%;
    top: -24.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    color: #EC1C67;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #EC1C67;
    padding: 10px 30px;
    border-radius: 15px;
    text-align: center;
    text-transform: capitalize;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.logo {
    width: 45px;
}

.mony {
    border-bottom: 2px solid #3A4855;
}

/* footer */
footer {
    width: 100%;
    background: #3A4855;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.before {
    position: absolute;
    left: 20px;
    top: 0;
    z-index: -1;
}

.after {
    position: relative;
    z-index: 1;
}

.row {
    width: 100%;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
}

.social-icon div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background: #3A4855;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
    color: #ccc;
}

.lists p {
    color: #B5B7C4;
}

.footer-logo p {
    color: #B5B7C4;
    font-size: 16px;
    font-weight: 400;
}

.pm {
    font-size: 20px;
    font-weight: 10px;
}

/* testimonial */
.images-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
}


.head-para {
    color: #7E858E;
}

.img-head {
    font-size: 15px;
    color: #3A4855;
    line-height: 35px;
}

.img-para {
    font-size: 11px;
    color: rgba(126, 133, 142, 0.60);
}

.testImage::before {
    content: '';
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 56%;
    background-color: rgba(175, 193, 255, .2);
    border-radius: 50%;
    z-index: -1;
}

footer .write::placeholder {
    color: #ffffff;
    font-size: 15px;
    text-transform: lowercase;
}



.card-img .owl-stage .active.center,
.logos .owl-stage .active.center {
    transform: scale(1.5);
    margin-left: 1rem;
    margin-right: 1rem;
    transition: transform ease-in-out .3s ;
}

.card-img .owl-stage .owl-item:not(.active.center) {
    opacity: 0.5;

}
.owl-carousel .owl-stage{
    right: 50px !important;
}
 .card-img .owl-stage .active.center, .logos .owl-stage .active.center {
    margin-right:80px !important;
    margin-left: 50px !important;


}

@media (max-width:600px) {
    .owl-carousel .owl-stage{
        left: 85px !important;
    }
    .card-img .owl-stage .active.center, .logos .owl-stage .active.center {
          margin-right:80px !important;
          margin-left: 50px !important;
    
    
    }
    .image-position{
    
        position: static !important;
    }
    .image-position .image{
        position: static !important;
    }
    .image-position .image img{
            position: static !important;
            margin-left:15px !important ;
    }
    .owl-nav{
        display: none !important;
    }
    .ul-nav {
        position: relative;
        left: 0;
    }

    .footer-logo {
        position: relative;
        right: 63px;
    }

    .dropdown {
        display: none;
    }


    .main-btn {
        display: flex;
        border: 1px solid #00B2CA;
        justify-content: center;
        border-radius: 8px;
        padding: 0.5rem;
        margin-top: 10px;
    }

    .sign-up {
        width: 94%;
        margin-right: 13px;
    }

    .navbar-nav li {

        padding: 20px;
    }

    .navbar-nav li:not(.price) {
        border-bottom: 1px solid rgba(126, 133, 142, 0.5);

    }

    .buttons-nav {
        padding-top: 100px;
        margin: auto;
        display: block;
    }

    .navbar-nav li::after {
        content: url(../images/icons/Arrow\ External\ .png);
        position: absolute;
        right: 0;
    }

    .navbar-nav li a {
        display: inline;

    }

    .img1,
    .img3 {
        display: none;
    }

    .img2 {
        width: 90%;

        top: -108px
    }

    .sign-up {
        width: 100%;
    }

    .foot {
        padding: 15px;
    }

    .feature {
        margin-top: 150px;
    }

    .area h4:not(.view-header) {
        display: none
    }

    .area {
        height: auto;

    }

    .image-item img {
        width: 50% !important
    }

    .image {
        background-color: transparent;
        height: auto;
    }

    .image img {
        height: auto;
        border-radius: 15px;
        left: 25px;
    }

    .view {
        height: auto;
    }

    .cards {
        margin-left: 1px;
    }

    .mony {
        margin-top: 21px;
    }

    .img-head {
        display: none;
    }

    .img-para {
        display: none;
    }

    .owl-item {
        display: block;
    }

    .item {
        /* padding: 7px; */
        box-shadow: none;
    }

    .landing {
        top: 26px;
    }

    .switchh {
        padding-top: 27px;
    }

    .landing {
        min-height: calc(100vh - 275px);
    }
    .pos-div{
        margin-top: 63px !important;

    }
}





#container {

position: absolute;
top: 0;
z-index: 0;
  }